
<div>

    <form class="formContainer" action="">
        <div class="formContainer--prueba">
            <label for="">Nombre</label>
            <input class="formContainer_input" placeholder="Introduce tu nombre" type="text">
        </div>

        <div class="formContainer--prueba">
            <label for="">Apellido</label>
            <input class="formContainer_input" placeholder="Introduce tu apellido" type="text">
        </div>

        <div class="formContainer--prueba">
            <label for="">Email</label>
            <input class="formContainer_input" placeholder="Introduce tu email" type="text">
        </div>
        
        <div class="formContainer--prueba">
            <label for="">Url para tu foto</label>
            <input class="formContainer_input" placeholder="Introduce una url" type="text">
        </div>

        <div class="formContainer--prueba">
            <label for="">Contraseña</label>
            <input class="formContainer_input" placeholder="Introduce una contraseña" type="text">
        </div>
        
        <div class="formContainer--prueba">
            <label for="">Repetir contraseña</label>
            <input class="formContainer_input" placeholder="Repite la contraseña" type="text">
        </div>
    
        <div class="endForm">
            <div class="endForm__col">
                <button type="button" class="endForm__button">Enviar</button>
                <p>Si ya eres ususario, <a class="endForm__link">Inicia sesion aquí</a></p>
            </div>
        </div>
    </form>

</div>
