



<div class="container main">
    <div class="buscador">
        <input #id_Book type="text" placeholder="Introduce una Ref">
        <button (click)="searchRef(id_Book.value)">Buscar por Ref</button>
    </div>

    <div *ngIf = "(mylibros.length == 1 && mylibros[0]!=null) || mylibros.length > 1" class="ngIfcontainer">
    <!-- usamos el indice del ngFOr con la propiedad even(par) -->
        <div *ngFor="let libro of mylibros; let botonPar = even" >

            <div class="card card-container" style="width: 18rem;">

                <button class="borrar_card" (click)="deleteBook(libro.id_libro)">x</button>

                <img src="{{libro.foto}}" class="card-img-top" style="width: 100%; max-height: 350px;" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="color: #2170b0ea;">{{libro.titulo}}</h5>
                    <p class="card-text" >{{libro.autor}}</p>
                    <p class="card-text"style="color: #acabab;" >{{libro.precio}} €</p>

                    <div class=" card__end">
                        <p class="card-text "style="color: #acabab;" >{{libro.id_libro | pipeRef}} </p>
                        <!-- cambiamos el boton de color segun la condicion de si es par usando el indice del ngFor -->
                        <button class="buttonCard" [ngClass]=" botonPar ? 'buttonCard' : 'buttonCard2' ">Buy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <ng-template #sinLibros >
        <div class="card" style="width: 18rem;">
            <img src="{{mylibro.foto}}" class="card-img-top" style="width: 100%; max-height: 350px;" alt="...">
            <div class="card-body">
                <h5 class="card-title" style="color: #2170b0ea;">{{mylibro.titulo}}</h5>
                <p class="card-text" >{{mylibro.autor}}</p>
                <p class="card-text"style="color: #acabab;" >{{mylibro.precio}} €</p>

                <div class=" card__end">
                    <p class="card-text "style="color: #acabab;" >{{mylibro.id_libro | pipeRef}} </p>
                    cambiamos el boton de color segun la condicion de si es par usando el indice del ngFor
                    <button class="buttonCard ">Buy</button>
                </div>
            </div>
        </div>

    </ng-template> 






<!-- cierre de main -->
</div>

