

<div class="header">

    <div  class="name">HOKUSAI</div>
    <!-- display none -->
    <div class="name2"></div>

    <div class="nav">
        <a routerLink="/">HOME</a>
        <!-- <a routerLink="/registro">REGISTRO</a> -->
        <a routerLink="/pagRegistro">REGISTRO</a>
        <a routerLink="/perfil">PERFIL</a>
        <a routerLink="libros">LIBROS</a>
        <a routerLink="crearLibro">AÑADE UN LIBRO</a>
        <a routerLink="editarLibro">EDITA UN LIBRO</a>




    </div>
    
</div>

