*{
    padding: 0;
    margin: 0;
}

:root{
    --blue_text: #2170b0ea;

    --input_border : rgba(32, 112, 177, 0.918);

    --darkBluel_OP:#0c2b49e8;

    --whiteText:rgb(252, 248, 245);

    --greylight:#acabab;

    
 
}